<div class="tab-group">
  <mat-tab-group>
    <mat-tab label="DC Comics">
      <div *ngFor="let hero of DCHeroes">
        <div class="hero">
          <span>{{ hero.name }}</span>
          <img [src]="hero.image" />
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Marvel Comics">
      <div *ngFor="let hero of MarvelHeroes">
        <div class="hero">
          <span>{{ hero.name }}</span>
          <img [src]="hero.image" />
        </div></div
    ></mat-tab>
  </mat-tab-group>
</div>
