<div class="tab-group">
  <mat-tab-group>
    <mat-tab label="DC Comics">
      <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let hero of DCHeroes">
          <mat-grid-tile-header>
            <div class="title">
              <span>{{ hero.name }}</span>
            </div>
          </mat-grid-tile-header>
          <div class="hero">
            <div>
              <img src="{{ hero.image }}" height="256px" />
            </div>
          </div>
          <mat-grid-tile-footer>
            <div class="check-box">
              <input type="checkbox" [value]="hero.selected" />
            </div>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Marvel Comics">
      <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let hero of MarvelHeroes">
          <mat-grid-tile-header>
            <div class="title">
              <span>{{ hero.name }}</span>
            </div>
          </mat-grid-tile-header>
          <div class="hero">
            <div>
              <img src="{{ hero.image }}" height="256px" />
            </div>
          </div>
          <mat-grid-tile-footer>
            <div class="check-box">
              <input type="checkbox" [value]="hero.selected" />
            </div>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>
