.hero {
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-group {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .battle-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
  }
}
